rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shoppers/{shopper} {
    	allow create: if true;
    }
    match /orders/{order} {
    	allow read: if resource.data.fulfilled != true;
    	allow create: if true;
    }
    match /orderLookup/{order} {
    	allow create: if true;
    }
    match /phoneLookup/{phone} {
    	allow create: if true;
    }
  }
}